{% extends 'base.html' %}



{% block title%}

login

{% endblock %}



{% block content %}


<h1 style="text-align: center; color:blue"> login form</h1>

<form action="login" method="post">
    {%csrf_token%}
    <div class="container mt-5" style="border:1px solid red">
        <div class="form-row" style="width: 200%;">
            <div class="form-group col-md-6 text-center">
                <label for=""><strong>username</strong></label>
                <input type="text" name="username" class="form-control">
            </div>
        </div>
        <div class="form-row" style="width: 200%;">
            <div class="form-group col-md-6 text-center">
                <label for=""><strong>password</strong></label>
                <input type="password" name="password" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <a class="btn btn-primary btn-block" href="">login </a>
            </div>
        </div>
    </div>

</form>

{% endblock %}