{% extends 'base.html' %}



{% block title%}

register

{% endblock %}


{% block content %}


<h1 style="text-align: center; color:blue;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif "> Register form </h1>




<div class="container mt-5" style="border:1px solid red">

    
        <form action="register" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for=""><strong>firstname</strong></label>
                    <input type="text" name="first_name" class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label for=""><strong>lastname</strong></label>
                    <input type="text" name="last_name" class="form-control">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for=""><strong>username</strong></label>
                    <input type="text" name="username" class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label for=""><strong>email</strong></label>
                    <input type="email" name="email" class="form-control">
                </div>
            </div>

            <div class="form-row"> 
                <div class="form-group col-md-8">
                    <label for=""><strong>address</strong></label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-4">
                    <label for=""><strong>pincode</strong></label>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for=""><strong>password</strong></label>
                    <input type="password" name="password1"  class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label for=""><strong>confirm password</strong></label>
                    <input type="password" name="password2" class="form-control">
                </div>
            </div>


            <div class="form-row">
                <button class="btn btn-primary btn-lg btn-block"> submit</button>
            </div>

        </form>   
</div>
{% endblock %}
