.head1,.head2{
    color: aqua;
    text-align: center;
    margin-top: 50px;
}

.card{
    transition: 1s;
}
.card:hover{
    transform: scale(1.2);
    z-index: 1;
    background-color: aqua;
}

    
.row{
    margin-top: 50px;
    
}


